<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>打造高效小团队 &#8211; 团队代码提交流程 &amp;&amp; 规范 &#8211; Android开发中文站</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <link rel='stylesheet' id='style-css2' href='../../css/style.css' type='text/css' media='all' />
</head>
<body class="single single-post postid-10200 single-format-standard">
<header class="header">
    <div class="navbar">
        <h1 class="logo" style="width:280px"><a href="http://www.androidchina.net"
                                                title="Android开发中文站---关注Android，关注开发者">Android开发中文站</a></h1>
        <ul class="nav">
            <li id="menu-item-4"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4">
                <a href="http://www.androidchina.net">首页</a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14"><a
                    href="http://www.androidchina.net/category/info">热点资讯</a></li>
            <li id="menu-item-6"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-6">
                <a href="http://www.androidchina.net/category/dev">Android开发</a>
                <ul class="sub-menu">
                    <li id="menu-item-380"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-380"><a
                            href="http://www.androidchina.net/category/java">Java基础</a></li>
                    <li id="menu-item-36"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36"><a
                            href="http://www.androidchina.net/dev/beginner">新手入门</a></li>
                    <li id="menu-item-13"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13"><a
                            href="http://www.androidchina.net/dev/advance">开发进阶</a></li>
                    <li id="menu-item-12"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12"><a
                            href="http://www.androidchina.net/dev/android_source">源码下载</a></li>
                </ul>
            </li>
            <li id="menu-item-9230"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-9230">
                <a href="http://www.androidchina.net/category/jobs">求职招聘</a>
                <ul class="sub-menu">
                    <li id="menu-item-9804"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9804"><a
                            href="http://www.androidchina.net/9797.html">Android 高级开发工程师/专家 &#8211; 高德</a></li>
                </ul>
            </li>
            <li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7"><a
                    href="http://www.androidchina.net/category/profit">盈利指导</a></li>
            <li id="menu-item-202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a
                    href="http://www.androidchina.net/aboutus">关于AndroidChina</a></li>
        </ul>
        <div class="menu pull-right">
            <form method="get" class="dropdown search-form" action="http://www.androidchina.net/">
                <input class="search-input" name="s" type="text" placeholder="输入关键字搜索" autofocus=""
                       x-webkit-speech=""><input class="btn btn-success search-submit" type="submit" value="搜索">
                <ul class="dropdown-menu search-suggest"></ul>
            </form>
            <div class="btn-group pull-left">
                <button class="btn btn-primary" data-toggle="modal" data-target="#feed">订阅</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">关注 <i class="caret"></i></button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="http://weibo.com/itmanual" target="_blank">新浪微博</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="speedbar">
        <div class="pull-right">
            <i class="icon-user icon12"></i> <a href="http://www.androidchina.net/wp-login.php">登录</a></div>
        <div class="toptip"><strong class="text-success">最新消息：</strong>欢迎访问Android开发中文站！商务联系微信：loading_in</div>
    </div>
</header>
<div class="layui-container" style="width: 80%; padding: 0;">

    <div class="layui-row layui-col-space10">
        <div class="layui-col-md9">
            <div id="articleContent">
                <!--       文章标题         -->
                <div class="breadcrumbs">
                    你的位置：<a href="http://www.androidchina.net">Android开发中文站</a> <small>></small> <a href="http://www.androidchina.net/category/dev" title="查看Android开发中的全部文章">Android开发</a> <small>></small> <span class="muted">「Android10源码分析」为什么复杂布局会产生卡顿？&#8211; LayoutInflater详解</span>
                </div>
                <header class="article-header">
                    <h1 class="article-title"></h1>
                    <div class="article-meta"></div>
                </header>

                <!--    文章正文        -->
                <article class="article-content">
                    <section id="output_wrapper_id"></section>
                    <div class="article-author"></div>
                </article>
            </div>
        </div>
        <div class="layui-col-md3">

            <div class="widget d_textbanner">
                <a class="style04" href="http://devclub.cc/app/app-devclub-release.apk" target="_blank">
                    <strong>特别推荐</strong>
                    <h2>我是开发者APP</h2>
                    <p>
                        <b>广大开发者首选APP，提供最新的资讯，覆盖内容全，满足不同开发者的需求</b>
                        <br><br>
                        <b>点击下载安装包</b><br>

                        2019年8月21日 v1.2.8 版本更新：<br>
                        1，商城图片及文字调整<br>
                        2，频道列表优化显示<br>
                        3，其他bug修复及优化<br></p></a></div>
            <div class="widget d_textbanner"><a class="style01"
                                                href="http://devclub.cc/app/AndroidChina_v1.0.1.apk"><strong>特别推荐</strong>
                <h2>Android开发中文站客户端</h2>
                <p><b>网站的Android客户端，可以通过手机查看网站内容啦！
                    欢迎大家下载使用。</b><br><br>
                    <b>Andriod开发中文站，关注Andriod开发，更关注开发者！</b></p></a></div>
            <div class="widget d_textbanner"><a class="style05" href="http://www.androidchina.net/contributor"
                                                target="_blank"><strong>特别推荐</strong>
                <h2>投稿人招募</h2>
                <p>想让自己的文章发表在Android开发中文站？快快联系站长提升账号权限就能发表啦！可以转载文章，更鼓励原创文章！联系QQ：1304524325</p></a></div>
            <div class="widget widget_text"><h3 class="widget_tit">微信公众号：AndroidChinaNet</h3>
                <div class="textwidget">
                    <div class="grid-demo">3/12</div>
                </div>
            </div>
            <div class="widget widget_links"><h3 class="widget_tit">友情链接</h3>
                <ul class='xoxo blogroll'>
                    <li><a href="http://www.android-doc.com/" target="_blank">android中文api</a></li>
                    <li><a href="http://www.apicloud.com" target="_blank">APICloud</a></li>
                    <li><a href="http://www.csobtk.cn/" target="_blank">app开发公司</a></li>
                    <li><a href="http://www.appxcode.com/" target="_blank">app源码站</a></li>
                    <li><a href="http://www.javaapk.com/" target="_blank">JavaApk</a></li>
                    <li><a href="http://www.mobiletrain.org/sxh/" target="_blank">java学员就业</a></li>
                    <li><a href="http://www.mobiletrain.org/java/" target="_blank">java程序员培训</a></li>
                    <li><a href="https://www.lineageos.org.cn/" target="_blank">LineageOS中文论坛</a></li>
                    <li><a href="http://mplus.tech/" target="_blank">M+</a></li>
                    <li><a href="http://video.mobiletrain.org/python/" target="_blank">python视频教程</a></li>
                    <li><a href="http://www.bayescom.com/" target="_blank">倍业科技</a></li>
                    <li><a href="http://nj.mobiletrain.org/java/" target="_blank">南京java开发培训</a></li>
                    <li><a href="http://bigdata.mobiletrain.org/" target="_blank">大数据培训</a></li>
                    <li><a href="https://anzhuoq.com/" target="_blank">安卓Q</a></li>
                    <li><a href="http://www.epubit.com.cn" target="_blank">异步社区</a></li>
                    <li><a href="http://bbs.windever.com" target="_blank">微信小程序开发社区</a></li>
                    <li><a href="http://cd.mobiletrain.org/info/" target="_blank">成都Python开发动态</a></li>
                    <li><a href="http://www.gxaedu.com/" target="_blank">成都软件测试培训</a></li>
                    <li><a href="http://bbs.jiandaima.com/" target="_blank">手机游戏源码分享</a></li>
                    <li><a href="http://www.365huifu.com" target="_blank">数据恢复软件</a></li>
                    <li><a href="https://www.okcoin.cn/" target="_blank">比特币价格</a></li>
                    <li><a href="http://www.mydll.com.cn/" target="_blank">浏览器哪个好</a></li>
                    <li><a href="http://www.juanyunkeji.com/" target="_blank">石家庄手机APP开发</a></li>
                    <li><a href="http://www.90159.com/" target="_blank">程序员头条</a></li>
                    <li><a href="http://www.chuntianxueyuan.com/" target="_blank">美牙培训</a></li>
                    <li><a href="http://www.newbiefly.com" target="_blank">菜鸟要飞</a></li>
                    <li><a href="http://www.mobiletrain.org/page/software/" target="_blank">软件测试培训</a></li>
                    <li><a href="http://www.dakaruanwen.com" target="_blank">软文发布</a></li>
                    <li><a href="http://qd.mobiletrain.org/news/" target="_blank">青岛java培训动态</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <div class="copyright" style="text-align: center">
            版权所有，保留一切权利！ &copy; 2019 <a href="http://www.androidchina.net">Android开发中文站</a>　Theme <a href="http://www.daqianduan.com/" target="_blank">D8</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="articleDetail.js"></script>
</body>
</html>