<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="navbar">
        <!--   logo     -->
        <h1 class="logo" style="width:280px">
            <a href="http://www.androidchina.net" title="程序员刊">
                <img src="logo.png">
            </a>
        </h1>
        <!--   导航     -->
        <div class="navigateList"></div>
        <div class="menu pull-right">
            <form method="get" class="dropdown search-form" action="http://www.androidchina.net/">
                <input class="search-input" name="s" type="text" placeholder="输入关键字搜索" autofocus=""
                       x-webkit-speech=""><input class="btn btn-success search-submit" type="submit" value="搜索">
                <ul class="dropdown-menu search-suggest"></ul>
            </form>
        </div>
    </div>
    <div class="speedbar">
        <div class="pull-right">
            <i class="icon-user icon12"></i> <a href="http://www.androidchina.net/wp-login.php">登录</a></div>
        <div class="toptip"><strong class="text-success">最新消息：</strong>欢迎访问Android开发中文站！商务联系微信：loading_in</div>
    </div>
</header>
</body>
</html>